<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <div class="signin-wrapper">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { autocomplete: 'off' }) do |f| %>
        <div class="form-group">
            <%= f.email_field :email, class: "form-control", autofocus: true, placeholder: "Email", autocomplete: 'off', onfocus: "this.value = this.value;" %>
        </div>

        <div class="form-group">
            <%= f.password_field :password, class: "form-control", autocomplete: "off", placeholder: "Password" %>
        </div>

        <% if devise_mapping.rememberable? -%>
            <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
            </div>
        <% end -%>

        <%= f.submit "Log in", class: "btn btn-primary" %>

      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
