<!DOCTYPE html>
<html>
  	<head>
	    <title>MyBlog</title>
	    <%= csrf_meta_tags %>

	    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  	</head>

  	<body>
  		<nav class="navbar navbar-default">
  			<div class="container-fluid">
  				<a class="navbar-brand" href="<%= root_url %>">MyBlog</a>

  				<ul class="nav navbar-nav navbar-right">
	  				<li><%= link_to "Write a Story", new_post_path %></li>
			  		<% if user_signed_in? %>
			  			<li><%= current_user.email %></li>
			  		<% end %>
			  	</ul>
  			</div>
  		</nav>
  		
  		<p class="notice"><%= notice %></p>
       	<p class="alert"><%= alert %></p>

    	<%= yield %>
  	</body>
</html>
